flask==2.2
jinja2
click
itsdangerous
charset-normalizer
fake-useragent
flask-babelex
flask-admin
bs4
flask-security
Werkzeug==2.2
markupsafe==2.1.1
wtforms==2.2.1
flask-ckeditor
sqlalchemy==1.4.46
flask-sqlalchemy
pyecharts

